<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	
	<listeners>
		<listener class-name="pgodi.TestComponents.Listeners"></listener>
	</listeners>
	
	
	
  <test thread-count="5" name="Submit Order Test">
    <classes>
      <class name="pgodi.tests.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test name="Error Validation">
	  <classes>
		  <class name="pgodi.tests.ErrorValidation"></class>
	  </classes> 
  </test>
  
</suite> <!-- Suite -->


